/* FUENTES DE LETRA */

/* Login */
#usuario:focus {
    /*background: ;*/
}

#logoParchis {
    width: 90%;
    margin: 0 auto;
}

#titleLogin {
    font-weight: bold;
}

#contenedorLogin {
    border: 1px black solid;
    text-align: center;
    padding: 3%;
    width: 100%;
    margin: 0 auto;
    max-width: 400px;
    margin-top: 10px;
}

#enviar {
    color: white;
    background: #0069d9;
    border: none;
}



/* Formulario de inicio de sesión */
