/* FUENTES DE LETRA */

body {
    background-image: url("../img/wallpaper.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: transparent;
}

/* Login */
#usuario:focus {
    /*background: ;*/
}

#logoParchis {
    width: 90%;
    margin: 0 auto;
}

#titleLogin {
    font-weight: bold;
}

#contenedorLogin {
    border: 1px black solid;
    text-align: center;
    padding: 3%;
    width: 100%;
    margin: 0 auto;
    max-width: 400px;
    margin-top: 10px;
    background-color: white;
}

#enviar {
    color: white;
    background: #0069d9;
    border: none;
}

/* Registro / Sign Up */
#contenedorRegister {
    margin: 0 auto;
    border: 1px black solid;
    background-color: white;
    text-align: center;
    padding: 3px;
    width: 100%;
    max-width: 600px;
    margin-top: 10px;
}