#dice {
	position: absolute;
	top: -500px; /*left: 30px;*/
	width: 100px; height: 100px;
 
  	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
  	-ms-backface-visibility: hidden;
 	-o-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

#dice .face {
	background: url(https://guima-games.firebaseapp.com/images/dice.png) no-repeat;
	background-size: 300px 200px;
	color: white;
	font-size: 20px;
	position: absolute;
	width: 100px; height: 100px;
	display: block;
}


#dice .front {
	-webkit-transform: perspective(000px) rotateX(0) translateZ(50px);
	-moz-transform: perspective(000px) rotateX(0) translateZ(50px);
	-ms-transform: perspective(000px) rotateX(0) translateZ(50px);
	-o-transform: perspective(000px) rotateX(0) translateZ(50px);
	transform: perspective(000px) rotateX(0) translateZ(50px);
}


#dice .back {
	background-position: -100px 0;
	-webkit-transform: perspective(000px) rotateY(180deg) translateZ(50px);
	-moz-transform: perspective(000px) rotateY(180deg) translateZ(50px);
	-ms-transform: perspective(000px) rotateY(180deg) translateZ(50px);
	-o-transform:  perspective(000px) rotateY(180deg) translateZ(50px);
	transform: perspective(000px) rotateY(180deg) translateZ(50px);
}

#dice .left {
	background-position: -200px 0;
	-webkit-transform: perspective(000px) rotateY(90deg) translateZ(50px);
	-moz-transform: perspective(000px) rotateY(90deg) translateZ(50px);
	-ms-transform: perspective(000px) rotateY(90deg) translateZ(50px);
	-o-transform: perspective(000px) rotateY(90deg) translateZ(50px);
	transform: perspective(000px) rotateY(90deg) translateZ(50px);
}

#dice .bottom {
	background-position: 0 -100px;
	-webkit-transform: perspective(000px) rotateX(-90deg)  translateZ(50px);
	-moz-transform: perspective(000px) rotateX(-90deg)  translateZ(50px);
	-ms-transform: perspective(000px) rotateX(-90deg)  translateZ(50px);
	-o-transform: perspective(000px) rotateX(-90deg)  translateZ(50px);
	transform: perspective(000px) rotateX(-90deg)  translateZ(50px);
}

#dice .top {
	background-position: -100px -100px;
	-webkit-transform:perspective(000px) rotateX(90deg) translateZ(50px);
	-moz-transform:perspective(000px) rotateX(90deg) translateZ(50px);
	-ms-transform:perspective(000px) rotateX(90deg) translateZ(50px);
	-o-transform:perspective(000px) rotateX(90deg) translateZ(50px);
	transform:perspective(000px) rotateX(90deg) translateZ(50px);
}

#dice .right {
	background-position: -200px -100px;
	-webkit-transform:perspective(000px) rotateY(-90deg)  translateZ(50px);
	-moz-transform:perspective(000px) rotateY(-90deg)  translateZ(50px);
	-ms-transform:perspective(000px) rotateY(-90deg)  translateZ(50px);
	-o-transform:perspective(000px) rotateY(-90deg)  translateZ(50px);
	transform:perspective(000px) rotateY(-90deg)  translateZ(50px);
}


/* segundo dado */

#dice2 {
	position: absolute;
	top: -500px; left: 160px;
	width: 100px; height: 100px;
 
    -moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
  	-ms-backface-visibility: hidden;
  	-o-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	
}

#dice2 .face {
	background: url(https://guima-games.firebaseapp.com/images/dice.png) no-repeat;
	background-size: 300px 200px;
	color: white;
	font-size: 20px;
	transform: scale(0.5);
	position: absolute;
	width: 100px; height: 100px;
	display: block;
}

#dice2 .front {
	-webkit-transform: perspective(000px) rotateX(0) translateZ(50px);
	-moz-transform: perspective(000px) rotateX(0) translateZ(50px);
	-ms-transform: perspective(000px) rotateX(0) translateZ(50px);
	-o-transform: perspective(000px) rotateX(0) translateZ(50px);
	transform: perspective(000px) rotateX(0) translateZ(50px);
}

#dice2 .back {
	background-position: -100px 0;
	-webkit-transform: perspective(000px) rotateY(180deg) translateZ(50px);
	-moz-transform: perspective(000px) rotateY(180deg) translateZ(50px);
	-ms-transform: perspective(000px) rotateY(180deg) translateZ(50px);
	-o-transform:  perspective(000px) rotateY(180deg) translateZ(50px);
	transform: perspective(000px) rotateY(180deg) translateZ(50px);
}

#dice2 .left {
	background-position: -200px 0;
	-webkit-transform: perspective(000px) rotateY(90deg) translateZ(50px);
	-moz-transform: perspective(000px) rotateY(90deg) translateZ(50px);
	-ms-transform: perspective(000px) rotateY(90deg) translateZ(50px);
	-o-transform: perspective(000px) rotateY(90deg) translateZ(50px);
	transform: perspective(000px) rotateY(90deg) translateZ(50px);
}

#dice2 .bottom {
	background-position: 0 -100px;
	-webkit-transform: perspective(000px) rotateX(-90deg)  translateZ(50px);
	-moz-transform: perspective(000px) rotateX(-90deg)  translateZ(50px);
	-ms-transform: perspective(000px) rotateX(-90deg)  translateZ(50px);
	-o-transform: perspective(000px) rotateX(-90deg)  translateZ(50px);
	transform: perspective(000px) rotateX(-90deg)  translateZ(50px);
}

#dice2 .top {
	background-position: -100px -100px;
	-webkit-transform:perspective(000px) rotateX(90deg) translateZ(50px);
	-moz-transform:perspective(000px) rotateX(90deg) translateZ(50px);
	-ms-transform:perspective(000px) rotateX(90deg) translateZ(50px);
	-o-transform:perspective(000px) rotateX(90deg) translateZ(50px);
	transform:perspective(000px) rotateX(90deg) translateZ(50px);
}

#dice2 .right {
	background-position: -200px -100px;
	-webkit-transform:perspective(000px) rotateY(-90deg)  translateZ(50px);
	-moz-transform:perspective(000px) rotateY(-90deg)  translateZ(50px);
	-ms-transform:perspective(000px) rotateY(-90deg)  translateZ(50px);
	-o-transform:perspective(000px) rotateY(-90deg)  translateZ(50px);
	transform:perspective(000px) rotateY(-90deg)  translateZ(50px);
}