<!doctype html>
<html>
  <head>
    <title>Inicio - Parchís</title>
    <link rel="icon" type="image/png" href="img/faviconParchis2.png" />
    <script src="js/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--<script src="https://d3js.org/d3.v5.min.js"></script>-->
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <!-- CONTENEDOR GRID PRINCIPAL -->
    <div class="gridIndex">

      <!-- CABECERA -->
      <div id="cabecera">
        <div id="containerUser">
            <div id="welcomeUser"></div>
        </div>
        <div id="containerOpciones">
        </div>
        
      </div>

      <!-- MENÚ -->
      <div id="menu">
        <img id="fondoMenu" src="img/fondoMenu.png" />
        <img id="logoIndex" src="img/logoParchis7.png" />
        <ul id="opcionesMenu">
          <li id="opcionJugar"><a href="">Jugar</a></li>
          <li id="opciones"><a href="">Opciones</a></li>
          <li id="comojugar"><a href="">Como se juega</a></li>
        </ul>
      </div>

      <!-- FOOTER -->
      <div id="footerIndex">
        <div id="footer1">
          &copy; Parchís
        </div>
        <div id="creadores">
          Creado por Xavier Giménez y Sara Garcia<br />
          Proyecto 2º DAW INS La Pineda, Badalona
        </div>
        <div id="github">
          <span id="titleGithub"><i class="fa fa-github" style="font-size:18px"></i> Enlaces GitHub:</span><br />
          <a id="githubProyecto" href="https://github.com/xavigimmar/Parchis_DAW.git">GitHub del proyecto</a>
          <a id="githubProyecto" href="https://github.com/xavigimmar">Xavier Giménez</a>
          <a id="githubProyecto" href="https://github.com/Caapri">Sara Garcia</a>
        </div>
      </div>

    </div>

  </body>
</html>