<!doctype html>
<html>
  <head>
    <title>Iniciar Sesión - Parchís</title>
    <!--<script src="/socket.io/socket.io.js"></script>-->
    <!--<script src="client.js"></script>-->
    <!--<script type="text/javascript" src="js/events.js"></script>-->
    <link rel="icon" type="image/png" href="img/faviconParchis2.png" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="js/login.js"></script>
  </head>
  <body>
    <div id="contenedorLogin">
        <img id="logoParchis" class="img-responsive" src="img/logoParchis7.png" /><br /><br />
        <!--<h3 id="titleLogin">Iniciar sesión</h3>-->
        <span id="mensajeLogin"></span>

        <form id="formLogin" method="get" class="form-group">

          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input id="usuario" class="form-control" type="text" placeholder="Nombre de usuario" /><br />
          </div>

          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="pass" class="form-control" type="password" placeholder="Contraseña" />
            <span class="input-group-addon"><i id="show-hide-passwd" class="glyphicon glyphicon-eye-open"></i></span>
          </div>
          <br />
          <input id="enviar" type="button" class="form-control" value="Entrar" />
        
        <br />
        <div id="registrarse">
          No estás registrado? <a href="/signup">Regístrate</a>
        </div>

      </form>
    </div>
  </body>
  
</html>