<!doctype html>
<html>
  <head>
    <title>Perfil - Parchís</title>
    <link rel="icon" type="image/png" href="img/faviconParchis2.png" />
    <script src="js/perfil.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--<script src="https://d3js.org/d3.v5.min.js"></script>-->
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    
    <div id="containerPrincipalPerfil">
        <div id="navegacion">
            <div id="datosUsuario">Datos usuario</div>
            <div id="estadisticasPersonales">Estadísticas</div>
        </div>
        <div id="contenidoPerfil">

        </div>
    </div>

    <br />
    <div id="atrasPerfil">
        <a href="/"><span class="glyphicon glyphicon-chevron-left">Volver</span></a>
    </div>

  </body>
</html>